<h2 mat-dialog-title style="margin: 20px">Detalles de la Persona</h2>

<div class="details-container">
  <mat-form-field class="full-width">
    <mat-label>ID</mat-label>
    <input matInput [value]="data.id" readonly="true" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput [value]="data.name" readonly="true" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [value]="data.email" readonly="true" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Fecha de Creación</mat-label>
    <input matInput [value]="data.createDate" readonly="true" />
  </mat-form-field>
</div>
